body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #849d8f;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: #e84d37;
}

.grid {
    width: 1146px;
    display: grid;
    grid-template-areas:
        "header header header header"
        "morojenka morojenka morojenka morojenka"
        "addition1 addition1 addition2 addition2"
        "spac spac spac spac"
        "ice1 ice2 ice3 ice4"
        "space1 space1 space1 space1"
        "info info info info"
        "addition3 addition3 addition4 addition4"
        "map map map map"
        "footer footer footer footer";
    grid-template-columns: 267px 267px 267px 267px;
    grid-column-gap: 26px;
    grid-template-rows: 73px minmax(620px, auto) minmax(230px, auto) 40px 305px 40px minmax(306px, auto) minmax(260px, auto) minmax(410px, auto)  minmax(100px, auto);
}

.space1 {
    grid-area: space1;
}

.space {
    grid-area: spac;
}

.allbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#f26843, #e74b36);
    border-bottom: 2px solid #9c2b1b;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #9c2b1b;
    font-weight: bold;
    color: white;
    outline: none;
    cursor: pointer;
}

.allbuttons:hover {
    background: linear-gradient(#f58669, #ec6f5e);
    border-bottom: 2px solid #a23324;
    outline: none;
    cursor: pointer;
}

.allbuttons:active {
    background: linear-gradient(#e74b36, #f26843);
    border-top: 2px solid #9c2b1b;
    border-bottom: none;
    outline: none;
    cursor: pointer;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.right-part {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.left-part {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
}

#Logo {
    margin-top: 9px;
}

.dropdown {
    position: relative;
}

.catalog{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 88px;
    height: 32px;
    margin-left: 5px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 16px;
}
.delivery{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 172px;
    height: 32px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 16px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 120px;
    height: 32px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 16px;
}
.dropdown:hover .catalog,
.delivery:hover,
.about:hover {
    color: black;
    background-color: white;
}

.catalog:active{
    background-color: #ededed;
    color: black;
    box-shadow: inset 0px 2px 2px 0px #555555;
}

.catalog span,
.delivery span,
.about span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdown:hover .drop-content {
    display: flex;
    align-items: stretch;
}

.drop-content {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 0px 0px;
    top: 100%;
    margin-top: 5px;
    left: 2%;
    justify-content: space-between;
    width: 146px;
    /*min-height: 178px;*/
    border-radius: 5px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}

.drop-content::before {
    display: flex;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    bottom: 100%;
    width: 100%;
    background-color: transparent;
}

.drop-content a {
    min-height: 20%;
    padding: 7px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.drop-content hr {
    background-color: #d1d0ce;
    width: 130px;
    border: 0;
    height: 1.5px;
    margin-bottom: 5px;
    margin: 0;
    align-self: center;
}

.drop-content a:hover {
    background-color: #fbded7;
}

.drop-content a:first-child {
    font-weight: bold;
}

.drop-content a:first-child:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.drop-content a:last-child:hover {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.drop-content a:active {
    background-color: #f6b5a5;
    color: black;
}

.drop-content a:first-child:active {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.drop-content a:last-child:active{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.lens {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.2);
}

.lens-content {
    display: none;
    position: absolute;
    height: 84px;
    width: 342px;
    top: 37px;
    left: -310px;
    border-radius: 5px;
    background-color: #f7f6f3;
    z-index: 1;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}

.lens-content input {
    font-size: 16px;
    width: 310px;
    height: 44px;
    border: 1px solid #d3d3d2;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
}

.lens-content::before {
    display: flex;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    bottom: 100%;
    width: 100%;
    background-color: transparent;
}
.lens:hover {
    background-color: #f7f6f3;
}

.lens:hover .lens-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lensh {
    display: none;
}

.lens:hover #lens {
    display: none;
}

.lens:hover #lensh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty,
.entry {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    border-radius: 20px;
    color: white;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.2);

}

.entry:hover {
    background-color: #f7f6f3;
    color: black;
}

#entryh {
    display: none;
}

.entry:hover #entry {
    display: none;
}

.entry:hover #entryh {
    display: flex;
    margin-right: 9px;
}

.entry-content::before {
    display: flex;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    bottom: 100%;
    width: 100%;
    background-color: transparent;
}
#entry {
    margin-right: 9px;
}

.entry-content {
    display: none;
    position: absolute;
    height: 204px;
    width: 276px;
    top: 37px;
    left: -180px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #f7f6f3;
    z-index: 1;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}

.entry-content input {
    font-size: 16px;
    margin-bottom: 20px;
    width: 240px;
    height: 44px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

.two-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box
}

.two-elements button {
    width: 100px;
    height: 44px;
}

#a2 a {
    font-size: 15px;
}

#a2 {
    display: flex;
    flex-direction: column;
}

.entry:hover .entry-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#basket {
    margin-right: 9px;
}

.enter.allbuttons {
    padding: 9px 25px;
    border-radius: 20px;
    height: 26px;
    width: 50px;
}

.item-2:hover,
.item-3:hover {
    background-color: #f7f6f3;
    color: black;
}

.item-2:hover a,
.item-3:hover a {
    background-color: #f7f6f3;
    color: black;
}

.dropdown:hover .item-1 {
    background-color: #f7f6f3;
    color: black;
}

.dropdown:hover .item-1 a {
    color: black;
}

.morojenka {
    grid-area: morojenka;
     background: radial-gradient(50% 50%, rgba(255, 255, 255, 0.8), transparent);
}
.gradient{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../img/Мороженко1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    position: relative;
    min-height: 620px;

}

.sometxt {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.date {
    align-self: flex-end;
    font-size: 14px;
    color: white;
    margin: 0;
  
}

.number {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.description{
    padding: 0px 227px;
    color: white;
    text-align: center;
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 30px;
}
.two-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    align-self: flex-end;
}

.trippe{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 40px;
}
.give-both {
    position: relative;
    left: calc(50% - 236px);
    height: 30px;

    max-width: 200px;
    padding: 17px 40px;
    font-size: 32px;
    border-radius: 32px;
}
.button-overflow{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    margin: 0;
}

.radiobutton {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.radiobutton input {
    display: none;
}

.radiolabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 50%;
}

.radiolabel:before {
    content: '';
    height: 20px;
    width: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.radiobutton input:checked+.radiolabel:before {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    background: white;
}

.addition1 {
    grid-area: addition1;
}
.addition1dinamic{
    background-size: cover;
    background-image: url(../img/raspberry.png);
}
.addition1dinamic {
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
}

.addition1dinamic h1 {
    color: white;
    align-self: flex-start;
    margin: 0;
}

.addition1dinamic p {
    color: white;
    align-self: flex-start;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.rasp{
    align-self: flex-end;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 21px;
    max-width: 120px;
    border-radius: 25px;
    margin-top: 40px;
}
.rasp p{
    margin: 0;
}

.addition2 {
    grid-area: addition2;
}
.addition2dinamic{
    background-size: cover;
    background-image: url(../img/chocoback.png);
}
.addition2dinamic {
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
}

.addition2dinamic h1 {
    color: white;
    align-self: flex-start;
    margin: 0;
}

.addition2dinamic p {
    color: white;
    align-self: flex-start;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}


.choco{
    align-self: flex-end;
    padding: 10px 25px;
    min-height: 21px;
    max-width: 148px;
    border-radius: 30px;
    margin-top: 40px;
}
.choco p{
    margin:0;
}
.block-hidden {
    height: 80px;
    width: 267px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(100% - 80px);

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.button-drop {
    border-radius: 23px;
    width: 200px;
    height: 46px;
}
.button-drop div{
    max-width: 149px;
}
.hit {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 2%;
    left: 4%;
}

.inice1:hover,
.inice2:hover,
.inice3:hover,
.inice4:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 20px 14px 5px rgba(0, 0, 0, 0.2);

}

.inice1:hover .block-hidden,
.inice2:hover .block-hidden,
.inice3:hover .block-hidden,
.inice4:hover .block-hidden {
    display: flex;
    align-self: center;
}
.inice1::after,
.inice2::after,
.inice3::after,
.inice4::after {
    content: " ";
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 80px;
    width: 100%;
}
.inice1 p,
.inice2 p,
.inice3 p,
.inice4 p {
    font-size: 17px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 25px;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

.underline {
    width: auto;
    font-size: 16px;
    text-align: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.inice1 img:not(.hit),
.inice2 img:not(.hit),
.inice3 img:not(.hit),
.inice4 img:not(.hit) {
    width: 247px;
    height: 247px;
}

.inice1 div p,
.inice2 div p,
.inice3 div p,
.inice4 div p {
    text-align: left;
    font-size: 45px;
    margin: 0px;
    margin-top: -75px;
    min-height: auto;
}

.styleclass {
    display: flex;
    flex-direction: column;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px 10px 0px;
}

.ice1 {
    grid-area: ice1;

}
.inice1{
    position: relative;
    min-height: 305px;
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ice2 {
    grid-area: ice2;

}

.inice2{
    position: relative;
    min-height: 305px;
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ice3 {
    grid-area: ice3;
   

}
.inice3{
    position: relative;
    min-height: 305px;
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ice4 {
    grid-area: ice4;
}
.inice4{
    position: relative;
    min-height: 305px;
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.info {
    grid-area: info;
    background-image: url(../img/waffle.png);
    display: flex;
    background-size: cover;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
}

.infohead {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.textcolumn1-part1,
.textcolumn1-part2,
.textcolumn2-part1,
.textcolumn2-part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 540px;
    min-height: 90px;
    font-size: 16px;
}

.textcolumn1-part1,
.textcolumn2-part1 {
    margin-right: 31px;
}

.cow,
.ice-logo,
.leaf,
.temperature {
    align-self: flex-start;
    margin-right: 10px;
}

.textcolumn1,
.textcolumn2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    padding-left: 20px;
    margin-bottom: 10px;

}


.addition3 {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-area: addition3;
    padding-top: 40px;
}
.service{
    background-image: url(../img/strawberry.png);
    min-height: 180px;
    border-radius: 20px;
    padding: 20px;
}
.service p{
 font-size: 16px;
 font-weight: 500;
 margin: 10px 0px;
}
.service a span{
    font-size: 23px;
    font-weight: bold;
    border-bottom: 1.5px solid black;
}
.addition4 {
    grid-area: addition4;
    padding-top: 40px;
}

.backgrad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
    min-height: 200px;
    background-image: url(../img/gradient.svg);
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
}

.styleform {
    display: flex;
    flex-direction: column;
    background-color: #f8f7f4;
    width: 510px;
    min-height: 130px;
    border: 5px;
    justify-content: space-between;
    border-radius: 10px;
    color: #5a5a5a;
    padding: 35px 15px;
}

.two-form {
    margin-top: 10px;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.two-form input {
    min-width: 340px;
    height: 44px;
    font-size: 16px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    padding-left: 15px;
    margin-right: 10px;
}

.send.allbuttons {
    border-radius: 30px;
    height: 44px;
    width: 95px;
    margin-left: 10px;
    padding: 0px 20px;
}

.map {
    grid-area: map;
    position: relative;
    background-size: 100% 100%;
    background-image: url(../img/map.png);
    margin-top: 40px;
    padding: 34px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#pin {
    transform: rotate(45deg);
    filter: drop-shadow(10px 0px 10px black);
}

.map img {
    top: 27%;
    left: 22%;
    position: absolute;
}

.backform {
    align-self: center;
    background-color: white;
    min-height: 201px;
    width: 252px;
    margin-right: 26px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 35px 25px;

}

.sendform.allbuttons {
    width: 180px;
    padding:0px 35px;
    height: 44px;
    border-radius: 30px;
}

.type-1 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.type-2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.type-3 {
    margin: 5px 0px;
    font-size: 20px;
    font-weight: bold;
}

footer {
    display: flex;
    grid-area: footer;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1.2px solid rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 20px 0px;
}

.mademe span {
    color: white;
}

.media {

    display: flex;
    flex-direction: row;
    align-items: center;
}
.soc{
    margin-right: 10px;
}
.twitter {
    font-size: 0;
    
    height: 32px;
    width: 32px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    background: url(../img/twitter.svg) no-repeat;
}

.twitter:hover {
    background: url(../img/twitter-hover.svg) no-repeat;
}

#shadow {
    position: absolute;
    top: 37%;
    left: 25%;
}

.instagram {
    font-size: 0;
   
    height: 32px;
    width: 32px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    background: url(../img/instagram.svg) no-repeat;
}

.instagram:hover {
    background: url(../img/instagram-hover.svg) no-repeat;
}

.facebook {
    font-size: 0;
    
    height: 32px;
    width: 32px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    background: url(../img/fb-hover.svg) no-repeat;
}

.facebook:hover {
    background: url(../img/fb.svg) no-repeat;
}

.vk {
    font-size: 0;
    height: 32px;
    width: 32px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    background: url(../img/vk.svg) no-repeat;
    margin: 0;
}

.vk:hover {
    background: url(../img/vk-hover.svg) no-repeat;
}

#one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
}

#one a,
#two a,
.mademe a {
    color: white;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    font-size: 15px;
    margin-bottom: 5px;
}

#one a:visited,
#two a:visited,
.mademe a:visited {
    color: white;
}

#one a:hover,
#two a:hover,
.mademe a:hover {
    color: #ddb083;
    border-bottom-color: #ddb083;
}

#one a:active,
#two a:active,
.mademe a:active {
    color: #ddb083;
    border-bottom-color: #ddb083;
}

#heart {
    height: 16px;
    width: 18px;
    position: absolute;
    top: 29%;
    left: 24%;
}

#htmlacademy {
    width: 50%;
    height: 50%
}

.mademe {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
}

.hrmlacademy {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5)
}